route:
  receiver: ${SLACK_WEBHOOK_URL:+slack}${SLACK_WEBHOOK_URL:+"-main"}${SLACK_WEBHOOK_URL:?"-or-null"}
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 1m
  repeat_interval: 3h

receivers:
  - name: slack-main
    slack_configs:
      - send_resolved: true
        api_url: ${SLACK_WEBHOOK_URL}
        username: 'Alertmanager'
        title: '[{{ .Status | toUpper }}] {{ .CommonLabels.alertname }}'
        text: |-
          *Alerts:* {{ len .Alerts }}
          {{ range .Alerts -}}
          • *{{ .Labels.alertname }}* on *{{ .Labels.instance }}*
            {{- if .Annotations.summary }} — {{ .Annotations.summary }}{{ end }}
          {{ end }}

  - name: null    # SLACK_WEBHOOK_URL が未設定時はこちらにフォールバック
